version: '3.8'

services:
  # 1. Backend (Ahora es la App de Consola)
  backend:
    build: 
      context: ./backend
    container_name: clima_app
    tty: true
    stdin_open: true
    command: ["node","tui/index.js"]
    environment:
      PG_HOST: postgres
      PG_PORT: 5432
      PG_USER: ${PG_USER}
      PG_PASSWORD: ${PG_PASSWORD}
      PG_DATABASE: ${PG_DATABASE}
      
      MONGO_HOST: mongo
      MONGO_PORT: 27017
      MONGO_USER: ${MONGO_USER}
      MONGO_PASSWORD: ${MONGO_PASSWORD}
      
      REDIS_HOST: redis
      REDIS_PORT: 6379

      JWT_SECRET: ${JWT_SECRET}
      
    depends_on:
      - postgres
      - mongo
      - redis
    volumes:
      - ./backend:/app
      - /app/node_modules
    networks:
      - clima-network

  # 2. PostgreSQL 
  postgres:
    image: postgres:14-alpine
    container_name: clima_postgres
    restart: unless-stopped
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: ${PG_USER}
      POSTGRES_PASSWORD: ${PG_PASSWORD}
      POSTGRES_DB: ${PG_DATABASE}
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./init/postgres/:/docker-entrypoint-initdb.d/
    networks:
      - clima-network

  # 3. MongoDB 
  mongo:
    image: mongo:7-jammy
    container_name: clima_mongo
    restart: unless-stopped
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_USER}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_PASSWORD}
    volumes:
      - mongo_data:/data/db
      - ./init/mongo/:/docker-entrypoint-initdb.d/:ro
    networks:
      - clima-network

  # 4. Redis
  redis:
    image: redis:alpine
    container_name: clima_redis
    restart: unless-stopped
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    networks:
      - clima-network

volumes:
  postgres_data:
    driver: local
  mongo_data:
    driver: local
  redis_data:
    driver: local

networks:
  clima-network:
    driver: bridge